!!!

%head
  %title REPL
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
  %link{href: 'http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700', rel: 'stylesheet'}

%body
  
  %main.ui.page.grid
    = render 'layouts/partials/header'
    = yield
